a:link {
  color: #E9CD81; }

a:visited {
  color: #977824; }

a:hover {
  color: #FFF4D6; }

.top {
  font-size: 4em;
  color: #81ABDA; }

button {
  outline: 0;
  -webkit-box-shadow: 0.2em 0.2em 0 black;
  box-shadow: 0.2em 0.2em 0 black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3em;
  text-align: center;
  padding: 1em;
  border-radius: 0.75em;
  font-size: 1.2em;
  border-color: #5A8BC1;
  background-color: #293646;
  color: #5A8BC1;
  font-size: 3em; }

img {
  height: 3em;
  padding-left: 3em;
  padding-right: 3em;
  width: 3em; }

.output {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

body {
  background-color: #3A6CA3;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  color: #293646; }
  body .well {
    -webkit-box-shadow: 0.2em 0.2em 0 black;
    box-shadow: 0.2em 0.2em 0 black;
    width: 26em;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #81ABDA;
    border-radius: 0.75em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0.25em;
    padding: 1em; }
    body .well h1 {
      padding-right: 0.5em;
      width: 5em;
      white-space: nowrap; }
    body .well .title {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 2em;
      margin-bottom: 1.5em; }
    body .well .pholder {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-left: -2em; }
    body .well p {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding-left: 2em;
      padding-right: 2em;
      font-size: 1.5em; }

h2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

div.well.offline.hidden {
  display: none; }

div.well.online.hidden {
  display: none; }

div.well.online {
  background-color: #526882; }
